@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow:auto;
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
  font-style: normal;
  font-weight: normal;
}

.main{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
} 
h1{
  height: 35px;
  max-width: 600px;
  margin: 70px auto;
}
 

